<div class="modal-wrapper" [@visibilityChanged]="activeModal" [ngClass]="[activeModal ? 'show' : '']">
    <div class="modal-container">
        <div class="modal-title">
          <h2>{{titleModal}}</h2>
          <i class="icon-close" (click)="closeActiveModal()"></i>
        </div>
        <div class="modal-body -no-icon">
          <p class="modal-info">
              {{descriptionModal}}
          </p>
        </div>
        <div class="modal-action -multiple">
          <button class="btn btn-radius btn-outline btn-outline-primary btn-primary" (click)="closeActiveModal()">Cancelar</button>
          <button class="btn btn-radius btn-primary" (click)="confirmActiveModal()">Confirmar</button>
        </div>
    </div>
  </div>